.message__output {
    border: none;
    outline: none;
    resize: none;
    width: 40rem;
    height: 30rem;
    background-color: red;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
}

.message__buttons {
    display: flex;
    align-items: left;
    gap: 2rem;
}

.message__textarea {
    height: 25rem !important;
}

.btn-dark {
    background-color: #242424 !important;
}
