.message__container {
    width: 25%;
}

.message__output--title {
    width: 11rem;
}

.message__output {
    background-color: white !important;
    cursor: default !important;
    height: 30rem !important;
    width: 100%!important;
}

.message__buttons {
    display: flex;
    gap: 5%;
    margin-top: 1rem;
}

.message__textarea {
    height: 25rem !important;
}

.btn-dark {
    background-color: #242424 !important;
}
