.message__container {
    width: 25%;
}

.message__output--title {
    width: 11rem;
}


.message__buttons {
    display: flex;
    gap: 5%;
    margin-top: 1rem;
}

.message__textarea {
    height: 20rem;
    resize: none;
}

.message__output {
    background-color: white !important;
    cursor: default;
    height: 38rem;
    resize: none;
    width: 100%;
}

.btn-dark {
    background-color: #242424 !important;
}
