.navbar__layout {
    padding-left: 2rem;
    display: flex;
    align-items: center;
    background-color: #242424;
}

.navbar__nav {
    display: flex;
    font-size: 1.2rem;
    align-items: center;
    font-weight: 500;
    margin-bottom: 0rem !important;
}

.navbar__logged-as {
    display: flex !important;
    align-items: center;
    position: relative;
    margin-right: 0rem !important;
}

.navbar-brand {
    font-size: 2rem !important;
}

.navbar {
    --bs-navbar-color: rgba(255, 255, 255, 0.55) !important;
    --bs-navbar-hover-color: rgba(255, 255, 255, 0.7) !important;
}