.message__container {
    margin: 5% 3%;
}

.message__textarea {
    border: none;
    outline: none;
    resize: none;
    width: 40rem;
    height: 30rem;
    background-color: red;
    font-weight: 500;
    font-size: 2rem;
    padding: 1rem;
}
