<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CodeDecode {% block title %}{% endblock %}</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">

        <link href="static/css/reset.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="static/css/container__right.css" rel="stylesheet">
        <link href="static/css/container__left.css" rel="stylesheet">
        <link href="static/css/account/account__create.css" rel="stylesheet">
        <link href="static/css/account/account__temp.css" rel="stylesheet">
        <link href="static/css/account/account__login.css" rel="stylesheet">

        {% block style %}{% endblock %}

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <!-- Font Roboto -->
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    </head>
    <body>
        <!-- <nav class="navbar navbar-expand-lg navbar__layout"> -->
        <nav class="navbar-expand-lg navbar__layout">
            <a class="navbar-brand presentation__title" href="#">CodeDecode</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse navbar__items" id="navbarSupportedContent">
                <ul class="navbar__nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">email</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">encode</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">decode</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                       hashes
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                            <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                    </li>
                    <!-- <li class="nav-item "> -->
                    <li>
                        <a class="navbar__logout" href="/logout">logOut</a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="container-fluid py-5 text-center">
            {% block main %}{% endblock %}
        </main>

        <footer class="mb-5 small text-center text-muted">
            Final Project by Rodrigo Hormazabal -  <a href="cs50.harvard.edu/">CS50</a>
        </footer>
    </body>
</html>
