<!DOCTYPE html>
<html lang="en">
    <head>
        <title>CodeDecode</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="static/css/reset.css" rel="stylesheet">
        <link href="static/css/portal/container__right.css" rel="stylesheet">
        <link href="static/css/portal/container__left.css" rel="stylesheet">
        <link href="static/css/portal/presentation/presentation.css" rel="stylesheet">
        <link href="static/css/portal/presentation/presentation__right.css" rel="stylesheet">
        <link href="static/css/portal/account/account__create.css" rel="stylesheet">
        <link href="static/css/portal/account/account__temp.css" rel="stylesheet">
        <link href="static/css/portal/account/account__login.css" rel="stylesheet">
        <link href="static/css/portal/responsive.css" rel="stylesheet">
        <link href="static/css/style.css" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap" rel="stylesheet">
        <!-- Bootstrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <!-- Icon -->
        <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/favicon.ico') }}">

    </head>
    <body>
        <main class="presentation">
            <div class="container__left">
                <div class="presentation__greet">
                    <h1 class="presentation__title">CodeDecode</h1>   
                    <h2 class="presentation__sub">email more secure</h2>
                    <p class="presentation__dev">Dev. CainSoulless</p>
                </div>
            </div>
            <div class="container__right">
                <div class="presentation__right--bg"></div>
                <div class="presentation__right">
                    <div class="account__login">
                        <form class="form-inline" action="/login" method="post">
                            <h3 class="account__login--title">Login.</h3> 
                            <div class="account__login--form w-100">
                                <div class="form-group">
                                    <input type="text" class="form-control" id="username" name="username" autofocus placeholder="Username">
                                </div>
                                <div class="form-group">
                                    <input type="password" class="form-control" id="pwd" name="password" placeholder="Passoword">
                                </div>
                            </div>
                                
                            <div class="form-inline account__checkbox">
                                <div class="checkbox">
                                    <label class="account__checkbox"><input type="checkbox"> Remember me</label>
                                </div>
                                <button type="submit" class="btn btn-light account__checkbox--btn">Login</button>    
                            </div>
                        </form> 
                    </div>
                    <div class="account__create">
                        <h3 class="account__title">Create new account.</h3> 
                        <form class="account__form "  action="/register" method="post">
                            <div class="account__create form-group">
                                <label for="username">Username:</label>
                                <input class="account__username__class form-control" autocomplete="off" type="text" name="username" id="username" placeholder="Username">
                            </div>
                            <div class="account__password form-group">
                                <label for="password">Password:</label>
                                <input class="account__password__class form-control " autocomplete="off" type="password" name="password" id="password" placeholder="Password">
                            </div>
                            <button class="account__submit btn btn-light" type="submit">Register</button>
                        </form>   
                    </div>
                     
                    <div class="account__temp hrdivider">
                        <hr/>
                        <span>or</span>
                        <div class="account__generate">
                            <h3 class="account__temp--usage">Use temporal email address.</h3> 
                            <form action="/generate" method="get">
                                <button class="account__submit btn btn-light" type="submit">Generate</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </main> 
    </body>
</html>
